:root {
  box-sizing: border-box;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;
}

img,
picture {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1;
}

p {
  margin: 0;
}

input,
button {
  font: inherit;
}

/* footer */

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
