:root {
  box-sizing: border-box;

  --clr-primary-red: hsl(0, 100%, 74%);
  --clr-primary-green: hsl(154, 59%, 51%);
  --clr-accent-blue: hsl(248, 32%, 49%);
  --clr-neutral-dark-blue: hsl(249, 10%, 26%);
  --clr-neutral-dark-blue-alpha: hsla(249, 10%, 26%, 0.54);
  --clr-neutral-grayish-blue: hsl(246, 25%, 77%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --border-radius: 0.625rem;
  --border-radius-inner: 0.375rem;

  --fs-800: 2rem;
  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-350: 0.875rem;
  --fs-300: 0.75rem;
  --fs-250: 0.625rem;
  --fs-200: 0.5rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --spacer: 1.5em;
  --spacer-half: calc(var(--spacer) / 2);

  --box-shadow: 0 0.5rem 0 rgb(0 0 0 / 0.15);
}

/* reset */

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  line-height: 1.6;
}

img,
picture {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1;
}

p {
  margin: 0;
}

input,
button {
  font: inherit;
  color: inherit;
}

/* utility classes */

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}

.display-contents {
  display: contents;
}

b,
.text-bold {
  font-weight: 600;
}

.bg-light {
  --bg-color: var(--clr-neutral-white);
  --color: var(--clr-neutral-dark-blue);
  --color-light: var(--clr-neutral-grayish-blue);
  --accent-1: var(--clr-primary-green);
  --accent-2: var(--clr-primary-red);
}

/* components */

.sign-up-card {
  padding: var(--spacer);
  background-color: var(--bg-color, var(--clr-neutral-white));
  border-radius: var(--border-radius, 0.5rem);
  box-shadow: var(--box-shadow);

  color: var(--color, var(--clr-neutral-dark-blue));
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-wrapper {
  --input-padding-block: 1rem;
  --input-padding-inline: 1rem;
  --label-padding-inline: 0.25rem;
  position: relative;
}

.input {
  display: block;
  width: 100%;
  padding-block: var(--input-padding-block, 1rem);
  padding-inline: var(--input-padding-inline, 1rem);
  border: 0.0625rem solid transparent;
  outline: 0.0625rem solid var(--color-light, --clr-neutral-grayish-blue);
  border-radius: var(--border-radius-inner);

  font-size: var(--fs-350);
  font-weight: var(--fw-700);
}

.input:focus {
  outline: 0.125rem solid black;
}

.input--invalid {
  outline: 0.125rem solid var(--clr-primary-red);
  background-image: url("images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: center right var(--input-padding-inline);
}

.input--invalid:focus {
  outline: 0.25rem solid var(--clr-primary-red);
}

.input--invalid-text {
  color: var(--clr-primary-red);
}

.input-wrapper .label {
  /* Positions label over input's top border */
  position: absolute;
  top: 0;
  left: 0rem;
  transform: translate(calc(1rem - var(--label-padding-inline)), -50%);

  padding-inline: var(--label-padding-inline);
  background-color: var(--bg-color);

  font-size: var(--fs-250);
  font-weight: var(--fw-700);
}

.input-wrapper .label--centered {
  /* Enlarges and centers label inside of the input */
  background-color: transparent;
  font-size: var(--fs-350);
  color: var(--clr-neutral-dark-blue-alpha);
  transform: translate(var(--input-padding-inline), var(--input-padding-block));
}

.input-wrapper .label--transition {
  /* Added by JS after a delay to prevent visible movement on page load */
  transition: transform 200ms ease, font-size 200ms ease,
    background-color 200ms ease;
}

.input-wrapper .error-message {
  /* Positions error message over input's bottom border on the right side */
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(calc(-1rem + var(--label-padding-inline)), 50%);

  padding-inline: var(--label-padding-inline);
  background-color: var(--bg-color);
  opacity: 0;
  transition: opacity 200ms ease, color 200ms ease;

  font-size: var(--fs-300);
  font-weight: var(--fw-600);
  color: var(--clr-primary-red);
  font-style: italic;
}

.input-wrapper .error-message--transparent-text {
  color: transparent;
}

.input-wrapper .error-message--visible {
  opacity: 1;
}

.sign-up-card .button {
  width: 100%;
  border-radius: var(--border-radius-inner);
}

.sign-up-card .tos-footer {
  max-width: 90%;
  margin-inline: auto;
}

.tos-footer {
  font-size: var(--fs-300);
  color: var(--color-light);
}

.tos-footer a {
  color: var(--accent-2, --clr-primary-red);
  text-decoration: none;
  font-weight: var(--fw-600);
}

.tos-footer a:is(:hover, :focus) {
  text-decoration: underline;
}

.button,
.button-look-alike {
  padding-block: 0.75em;
  padding-inline: 1.5em;
  background-color: var(--accent-1, var(--clr-accent-blue));
  border-color: transparent;
  border-radius: var(--border-radius);

  /* smaller box shadow with optional solid color */
  box-shadow: 0 0.25rem 0 rgb(0 0 0 / 0.075),
    0 0.25rem 0 var(--solid-shadow-color, transparent);

  color: var(--bg-color, --clr-neutral-white);
  font-size: inherit;
  font-weight: var(--fw-500);
  text-align: center;
  text-transform: uppercase;
  line-height: inherit;
}

.button {
  cursor: pointer;
  text-decoration: none;
}

.button:is(:hover, :focus) {
  opacity: 0.75;
}

.button--solid-shadow {
  --solid-shadow-color: var(--accent-1, var(--clr-accent-blue));
}

.button--chubby {
  padding-block: 1.125em;
  padding-inline: 2.75em;
}

/* general styles  */

body {
  padding-inline: 1.5rem;
  background-color: var(--clr-primary-red);
  background-image: url("images/bg-intro-mobile.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-400, 1rem);
  color: var(--clr-neutral-white);

  display: grid;
  grid-template-rows: 1fr auto;
}

main {
  max-width: 31.25rem;
  margin-inline: auto;
  padding-block: 6rem;
  display: grid;
  align-items: center;
  gap: 4rem;
}

.page-intro {
  text-align: center;
}

.page-title {
  font-size: var(--fs-700);
  line-height: 1.2;
}

/* specific styles */

.cta h2 {
  text-transform: unset;
  font-weight: 400;
  box-shadow: var(--box-shadow);
}

/* footer */

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media queries */

@media screen and (min-width: 50em) {
  :root {
    --fs-700: 3rem;
  }

  body {
    background-image: url("images/bg-intro-desktop.png");
  }

  main {
    max-width: 69.5rem;
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .page-intro {
    padding: 0;
    text-align: left;
  }

  .page-title {
    line-height: 1.1;
  }

  .sign-up-card {
    padding: 2.5rem;
    gap: 1.25rem;
  }

  .input-wrapper {
    --input-padding-inline: 2rem;
  }
}
